@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Buenard:wght@400;700&family=Poppins:wght@500;600&display=swap');

:root {
   --header-height: 3.125rem;
   
   --font-color: #868e96;
   --low-color: linear-gradient( 
    45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--gradient-color-2) );
        border-radius: 10px;;
   --high-color-1: #ededed;
   --high-color-2: #e0e0e0;
   --high-color-3: #858585;
   --line-color: #E6E6E6;
   --icon-color: rgb(63, 63, 63);
   --body-color: #ffffff;
   --font-color-hover: #000;
   
   --font-bold: 700;

   --body-font: Arial, Helvetica, sans-serif;
   --title-font: 'Buenard', serif;
   
   --big-font-size: 1.875rem;
   --big-icons-size: 3.125rem;
   --icons-size: 2.125rem;
   --normal-font-size: 15px;
   --small-font-size: 0.9375rem;
   --m-20: 1.25rem;

   --colors-gray2: hsl(0 0% 97.3%);;
    --colors-gray4: hsl(0 0% 90.9%);

    --gradient-color-1: var(--colors-gray2);
    --gradient-color-2: var(--colors-gray4);
   
}

body.dark-theme{
    --colors-gray2: hsl(0 0% 11.0%);
    --colors-gray3: hsl(0 0% 13.6%);
    --gradient-color-1: var(--colors-gray2);
    --gradient-color-2: var(--colors-gray3);
    --font-color: hsl(0 0% 93.0%);
    --low-color: linear-gradient( 
        45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--gradient-color-2) );
            border-radius: 10px;;
    --high-color-1: hsl(0 0% 13.6%);
    --high-color-2: hsl(0 0% 13.6%);
    --high-color-3: #858585;
    --line-color: hsl(0 0% 20.5%);
    --body-color: hsl(0 0% 8.5%);
    --icon-color: hsl(0 0% 49.4%);;
    --font-color-hover: #E6E6E6;
}

@media screen and (min-width: 685px) {
    :root {
        --big-font-size: 1.875rem;
        --normal-font-size: 15px;
        --small-font-size: 0.75rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--font-color);
}

h1 {
    color: var(--black-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bxs-moon, .bx-menu-alt-right {
    color: var(--icon-color);
    margin: 0 0 0 0 ;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-height);
    z-index: 500;
    width: calc(100% - 40px);
    margin: var(--m-20);
}

@media screen and (max-width: 620px){

    h3 {
        font-size: var(--small-font-size);
    }
    
    .nav__menu {
        left: 0;
        position: absolute;
        top: 5rem;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0px 17px 35px 9px rgba(73, 73, 73, 0.25);
        border-radius: 10px;
        z-index: 500;
    }

    .main {
        padding-top: 90px;
        min-height: 100vh;
    }

    .home__content {
        font-size: var(--small-font-size);
    }

    .home__title {
        font-size: var(--small-font-size);
    }

}

@media screen and (min-width: 620px) and (max-width: 1200px) {
    
    .nav {
        top: 0;
        left: 0;
        margin: 80px;
        width: calc(100% - 160px);
    }

    .nav__menu {
        position:absolute;
        margin-left: 40%;
        float: right;
        top: 5rem;
        width: 60%;
        background-color: var(--body-color);
        box-shadow: 0px 17px 35px 9px rgba(73, 73, 73, 0.25);
        border-radius: 10px;
        z-index: 500;
    }
    
    .main {
        min-height: 80vh;
    }

    body {
        margin: 80px;
        font-size: var(--normal-font-size);
    }
    
    .home__content {
        margin: 0 var(--m-20);
        font-size: var(--normal-font-size);
    }
}


@media screen and (min-width: 1200px){

    .nav {
        top: 0;
        left: 0;
        margin: 100px;
        width: calc(100% - 200px);
    }

    .nav__menu {
        position:absolute;
        margin-left: 75%;
        float: right;
        top: 5rem;
        width: 25%;
        background-color: var(--body-color);
        box-shadow: 0px 17px 35px 9px rgba(73, 73, 73, 0.25);
        border-radius: 10px;
        z-index: 500;
    }

    .main {
        min-height: 80vh;
    }

    body {
        margin: 80px;
        font-size: var(--normal-font-size);
    }
}

.nav__menu {
    /* border: solid 2px black; */
    font-size: var(--small-font-size);
    left: 0;
    right: 0;
    /* margin-left: var(--m-20); margin-right: var(--m-20); */
    transform: scale(0.98);
    transition: .2s ease-in;
    visibility: hidden;
}

.mostrar-menu {
    transform: scale(1);
    visibility: visible;
}

.button {
    display: flex;
    background-image: var(--low-color);
    background-size: 200% 100%;
    border-radius: 10px;
    width: var(--big-icons-size);
    height: var(--big-icons-size);
    font-size: var(--icons-size);
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
}

.button:hover {
    background-color: var(--high-color-1);
    transform: scale(1.1);
}

.button:hover > .bxs-moon {
    transform: rotate(-20deg);
    transition: 0.3s ease-in 0s;
}

/* Seccion menu paginas */
.nav__pages {
    display: flex;
    flex-direction: column;
    margin: var(--m-20) var(--m-20) 15px var(--m-20);
    gap: 10px;
    border-bottom: solid 1px var(--line-color);
} 
.nav__list-pages {
    display: flex;
    gap:10px;
    flex-direction: column;
    gap: 10px;
}

.nav__item-pages {
    padding: 10px;
    border-radius: 10px;
}

.nav__item-pages i {
    margin-right: 12px;
    color: var(--high-color-3);
}

.nav__link:nth-child(3) {
    margin-bottom: 10px;
}

.nav__item-pages:hover {
    background-color:var(--high-color-1);
    border-radius: 10px;
    color: var(--font-color-hover);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out 0s;
}


/* seccion menu social */
.nav__social {
    display: flex;
    flex-direction: column;
    margin: 0px var(--m-20) var(--m-20) var(--m-20);
    gap: 15px;
}

.nav__list-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__item-social {
    display: flex;
    background-image: linear-gradient( 
45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--gradient-color-2) );
    background-size: 200% 100%;
    border-radius: 10px;
    height: var(--big-icons-size);
    width: 23%;
    padding-top: 8px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    transition: 0;
}

.nav__item-social:hover {
    background-color: var(--high-color-2);
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
    padding-top: 90px;
    padding-left: var(--m-20);
    padding-right: var(--m-20);
    padding-bottom: 120px;
    margin: 0px auto;
    z-index: 1;
}

.home__title{
    font-family: var(--title-font);
    padding: 10px 0 10px 0;
    border-bottom: solid 1px var(--line-color);
    color: var(--font-color-hover);
    font-size: var(--big-font-size);
    margin: 0 50px;
}

.home__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    color: var(--high-color-3);
}

.status-container {
    display: flex;
    justify-content: center;
    font-size: var(--small-font-size);
    color: var(--high-color-3);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.625rem;
    width: 100%;
    z-index: 250;
}

.title__status {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: normal;
    background-image: var(--low-color);
    background-size: 200% 100%;
    transition: .5s ease;
    -webkit-transform-origin-y: .5s ease;
    -moz-transform-origin-y: .5s ease;
    -ms-transform-origin-y: .5s ease;
    -moz-transform-origin-y: .5s ease;
}

.title__status:hover {
    transform: translateY(-10px) scale(1.2);
    -webkit-transform: translateY(-10px) scale(1.2);
    -moz-transform: translateY(-10px) scale(1.2);
    -ms-transform: translateY(-10px) scale(1.2);
    -o-transform: translateY(-10x) scale(1.2);
}

a.nav__link:any-link {
    color: var(--high-color-3);
}

i {
    color: var(--high-color-3);
}

.nav__item-social i {
    color: var(--icon-color);
}
